

            body {
                color: black;
                background-color: lightgray;
                font-family: Verdana;
            }
            
            a {
                color:white;
                text-decoration:none; 
            }
            
            h1 {
                text-align: center;
            }
            
            .meny {
            text-align: center;
            }

            p {
                
            
            }
    
            .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }

            .center2 {
            display:block;
            width: 175px;
            height: 225px;
            float: right;
            margin-right: 250px;
            margin-left: 15px;
            border-style: solid;
            border-width: 2px;
            border-radius: 5px;
        
            }

            .center3 {
            display:block;
            margin-left:auto;
            margin-right: 15px;
            width: 225px;
            height: 225px;
            float: left;
            margin-left: 250px;
            border-style: solid;
            border-width: 2px;
            border-radius: 5px;
            }

            .center4 {
            width: 225px;
            height: 225px;
            margin-left: 80px;
            border-style: solid;
            border-width: 2px;
            border-radius: 5px;
            }
        
                            
            #bilde2 {
                float: left;
                margin: 50px;
                
            }

            #bilde3 {
                float: right;
                margin: 50px;
            }
            
              #avsnitt {
                color:black;
                background-color: darkgray;
                width: 700px;
                margin: 50px;
            }
            
    